{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "indentStyle": "space",
  "indentSize": 2,
  "charset": "utf-8",
  "trimTrailingWhitespace": true,
  "insertFinalNewline": true
}